.header{
    width: 80%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}
.header nav{
    display: flex;
    width: 15%;
    justify-content: space-between;
    gap: 20%;
}

.header nav a{
    text-decoration: none;
    color: black;
    transition: 
        background-color 0.2s ease,
        color 0.2s ease,
        font-weight 0.2s ease;
}

.header nav div{
    text-decoration: none;
    color: black;
    transition: 
        background-color 0.2s ease,
        color 0.2s ease,
        font-weight 0.2s ease;
    cursor: pointer;
}

.header nav a:hover, .header nav div:hover{
    text-decoration: none;
    color: rgb(255, 123, 0);
}

.header nav div svg{
    position: relative;
    bottom: 2px;
    right: 3px;
}


.header img{
    width: 7%;
    height: auto;
}
.header div{
    display: flex;
    gap: 10%;
}
.header button p{
    font-size: 17px;
}

.menu{
    display: none; 
}

.menu a{
    display: none;
}

#pages:hover .menu a{
    display:block;
    font-size: 18px;
}

#pages:hover .menu{
    display: flex;
    padding: 20px;
    padding-bottom: 50px;
    gap: 20px;
    background-color: rgb(243, 243, 243);
    width: 10%;
    height: 250px;
    flex-direction: column;
    position: absolute;
    top: 68px;
    left: 250px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#laranjinha{
    color: rgb(255, 123, 0);
}